<configuration name="xml_curl.conf" description="XML Curl">
  <bindings>
    <binding name="directory">
      <param name="gateway-url" value="__MANAGECALLAI_DIRECTORY_URL__" />
      <param name="method" value="POST" />
    </binding>
    <binding name="dialplan">
      <param name="gateway-url" value="__MANAGECALLAI_DIALPLAN_URL__" />
      <param name="method" value="POST" />
    </binding>
  </bindings>
</configuration>
